@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?aoayoz');
  src:  url('fonts/icomoon.eot?aoayoz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?aoayoz') format('truetype'),
    url('fonts/icomoon.woff?aoayoz') format('woff'),
    url('fonts/icomoon.svg?aoayoz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-smile:before {
  content: "\e90f";
}
.icon-academy .path1:before {
  content: "\e900";
  color: rgb(20, 88, 163);
}
.icon-academy .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-academy .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-down-chevron:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-twitter:before {
  content: "\e90d";
}
.icon-html:before {
  content: "\e90e";
}
.icon-java:before {
  content: "\e910";
}
.icon-youtube:before {
  content: "\e911";
}
.icon-js:before {
  content: "\e912";
}
.icon-php:before {
  content: "\e913";
}
.icon-python:before {
  content: "\e914";
}
.icon-ruby:before {
  content: "\e915";
}
.icon-instagram:before {
  content: "\e916";
}






body{
	font-family: 'Open Sans', Arial, sans-serif;
}
.navbar-brand .icon{
	width: 48px;
	height: 48px;
	color: #000;
}
.top_table{
	padding-right: 50px;

}
.slider{
	background: url("slide2.jpg") center center / cover no-repeat;
	filter: grayscale(65%);
	position: relative;
	width: 100%;
	height: 600px;
}
.slider_content{
	color: #FFF;
	position: absolute;
	top: 30%;
	left: 20%;
	text-align: center;
}
.slider_head{
	font-weight: 400;
	font-style: normal;
	font-size: 5rem;
}
.slyder_text{
	font-weight: 300;
	font-style: normal;
	font-size: 2rem;
}
.slider_icon{
	font-size: 50px;
	color: #fff;
}
a .slider_icon:hover{
	text-decoration: none;
	font-size: 60px;
}

.academysection{
	background-color: #8D8D92;
	width: 100%;
	height: 850px;
}
.div1academyimage{
	width: 100%;
	filter: grayscale(65%);
	
}
.rowacademy{
	height:400px;
}
.academyhead{
	font-size: 4.2rem;
	color: #FFF;
	position: relative;
	padding-left: 100px;
	margin-bottom: : 100px;
}
.academycontent{
	font-size: 2rem;
	color: #FFF;
	list-style: none;
	position: absolute;
	padding: 50px;
}
.border{
	border-top: 1px dashed #FFF;
}
.navscroll{
	display: none;
}
.coursessection{
	width: 100%;
	height: 300px;
}
.courseshead{
	text-align: center;
}
.coursesimages{
	font-size: 100px;
}
.rowcourses{
	height: 200px;
}

.coursessection i {
	width: 50px;
	height: 50px;
}
.coursesposition{
	padding-left: 180px;
	position: relative;
}
.bordercourses{
	color: black;
	padding: 20px;
}

.rowcourses :first-child a:hover {
text-decoration: none;
	color: #FFCA28;
}
.rowcourses :nth-child(2) a:hover {
text-decoration: none;
	color: #1565C0;
}
.rowcourses :nth-child(3) a:hover {
text-decoration: none;
	color: #4A148C;
}
.rowcourses :nth-child(4) a:hover {
text-decoration: none;
	color: #4527A0;
}
.rowcourses :nth-child(5) a:hover {
text-decoration: none;
	color: #D50000;
}
.rowcourses :last-child a:hover {
text-decoration: none;
	color: #263238;
}
.documents{
	width: 100%;
	height: 500px;
	background-color: #607D8B;
}
.documentshead{
	padding-top: 50px;
	font-size: 3rem;
	text-align: center;
	color: #f5f5f5;
}
.ul1documents{
	margin-top: 70px;
	list-style: none;
	color: #F5F5F5;
	font-size: 2.2rem;
}
.commentsection{
	width: 100%;
	height: 700px;
	background-color: #F5F5F5;
}
.commenthead{
	color: #292F36;
	font-size: 3rem;
	text-align: center;
	padding: 30px;
	margin-top: 0;
}
.partnerssection{
	width: 100%;
	height: 200px;
}
.partnershead{
	text-align: center;
	color: #292F36;
	font-size: 3rem;
}
.partnersimg{
	width: 120px;
	height: 100px;
}
.partnersposition{
	padding-left: 200px;
}
.contactssection{
width: 100%;
height: 900px;
background-color: #8D8D92;
}
.poweredsection{
	width: 100%;
	height: 60px;
	background-color: #292F36;
}
.powered{
	padding-top: 20px;
	color:#8D8D92;
	font-size: 1.5rem;
	text-align: center;
	width: 50%;
	font-weight:200; 
}
.speech-bubble {
	position: relative;
	background: #22b6d0;
	border-radius: .4em;
}
.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 15%;
	width: 0;
	height: 0;
	border: 16px solid transparent;
	border-top-color: #22b6d0;
	border-bottom: 0;
	margin-left: -16px;
	margin-bottom: -16px;
}
.mybubble{
	margin:30px;
	width: 290px;
	height: 330px;
	color: #F5F5F5;
}

.mybubble2{
	margin:30px;
	width: 280px;
	height: 370px;
	color: #F5F5F5;
}
.mybubble3{
	margin:30px;
	width: 280px;
	height: 350px;
	color: #F5F5F5;
}
.contactsheads{
	color: #FFC857;
    box-shadow: 0 3px 0 #FFC857;
    display: inline-block;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    padding-top: 40px;
}
.contactsul{
	list-style: none;
}
.contactsa{
	color:#F5F5F5;
	text-decoration: none;
	padding-top:5px;
	font-weight: 200;
}
.contactsli{
	padding: 0.15rem 0;
}
.contactstext{
	color:#F5F5F5;
	text-decoration: none;
	padding-top:5px;	
	font-weight: 500;
}

.bubbleimg1{
height: 80px;
width: 80px;
border-radius: 50%;
float: left;
}
.bubbleimgdiv{
	padding-left: 30px;
}
.bubbletext{
	float: left;
	padding-left: 5px;
}




